body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

header {
  background-color: #d63384;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
img{
  width:30%;
  border-margin:90%;
}
section {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project {
  background: #fff;
  padding: 15px;
  border-left: 5px solid #d63384;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea, button {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #d63384;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  color: white;
  text-align: center;
  padding: 10px;
  background: #d63384;
  margin-top: 40px;
}
